services:

  db:
    image: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 512mb
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql
#      - ./db_init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

volumes:
  postgres_data: